$heading-font-family: "Be Vietnam", sans-serif
$body-font-family: "Literata", serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none